header>a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 16px;
    font-size: 2rem;
    text-decoration: none;
    color: var(--green);
}

header>h2 {
    padding: 0;
    margin: 16px;
    text-align: center;
    color: var(--green);
}

body {
    background-color: var(--white);
}