main {
    margin-top: 10vh;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

main>input{
    width: 40px;
    font-size: 1.2rem;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--light-green);
    color: var(--green);
    outline: none;
}

button {
    margin-top: 4vh;
    width: 20vw;
    font-size: 1.2rem;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--light-green);
    color: var(--green);
    outline: none;
    font-weight: 600;
}