#no-connection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: var(--white);
    display: none;
    align-items: center;
    justify-content: center;
}
#no-connection>div {
    text-align: center;
}

#no-connection>div>i {
    font-size: 3rem;
}

.action {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.action>button {
    margin-top: 14px;
    width: 85%;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    padding: 14px;
    color: var(--white);
    -webkit-box-shadow: 2px 4px 13px 5px rgba(0,0,0,0.3); 
    box-shadow: 2px 4px 13px 5px rgba(0,0,0,0.3);
    font-size: 1.1rem;
    font-weight: 600;
}

#code-btn {
    background-color: var(--light-green);
}

#shadow-overlay, #content-overlay {
    display: none;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
}

#shadow-overlay {
    animation: sh-show .2s ease-in-out
}

#content-overlay {
    display: none;
    width: 70%;
    background-color: var(--white);
}

.overlay-open {
    animation: ol-slide .2s ease-in;
}

@keyframes ol-slide {
    0% {
        left: -70%;
    }
    100% {
        left: 0;
    }   
}

@keyframes sh-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }   
}


.profile {
    padding: 4vw;
    display: grid;
    grid-template-columns: fit-content(20%) 1fr;
    align-items: center;
    grid-gap: 24px;
}

#pp-img {
    width: 120%;
    border-radius: 50%;
}

#pp-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.actions {
    margin-top: 4vh;
    display: grid;
}

.actions>a {
    /* width: 100%; */
    padding: 14px 24px;
    padding-right: 34px;
    text-decoration: none;
    color: var(--green);
}

.actions>a>i {
    float: right;
}

.logout-container {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 25px 20px;
}

#logout {
    align-items: center;
    width: calc(70vw - 40px);
    background-color: #D62828;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 2px 4px 13px 5px rgba(0,0,0,0.3); 
    box-shadow: 2px 4px 13px 5px rgba(0,0,0,0.3);
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    padding: 8px 16px;
}

#logout>i {
    float: left;
    transform: rotate(180deg);
}
