hr {
    width: 40vw;
    height: 2px;
    border: none;
    background-color: var(--text);
    border-radius: 20px;
}

main {
    position: relative;
    margin-top: 5vh;
    text-align: center;
}

video {
    width: 80vw;
    border-radius: 10px;
}

#map-i {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 14px;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
}

input {
    margin-top: 3vh;
    border: none;
    border-bottom: 2px solid var(--text);
    background-color: var(--nav-background);
    font-size: 3rem;
    width: 52vw;
    outline: none;
    text-transform: uppercase;
}