body {
    background-color: var(--white);
}

main {
    text-align: center;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.action {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.action>button {
    margin-top: 14px;
    width: 85%;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    padding: 14px;
    color: var(--white);
    -webkit-box-shadow: 2px 4px 13px 5px rgba(0,0,0,0.3); 
    box-shadow: 2px 4px 13px 5px rgba(0,0,0,0.3);
    font-size: 1.1rem;
    font-weight: 600;
}

.content {
    margin-top: 12vh;
}

h2 {
    padding: 0px 10%;
}
.content>select {
    padding: 10px 14px;
    background-color: var(--light-green);
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
}

.content>span {
    font-size: 1.8rem;
}

#product {
    font-weight: 600;
}

#price {
    margin-top: 6vh;
    font-size: 1.8rem;
    font-weight: 600;
}